In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Loading the fuel data

In [8]:
url = "http://bit.ly/HDSC-Dataset"
fuel_data = pd.read_csv(url, error_bad_lines=False)

Q3

In [16]:
fuel_data.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

Q4

In [21]:
fuel_data["fuel_mmbtu_per_unit"].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

Q5

In [23]:
[fuel_data["fuel_qty_burned"].skew(), fuel_data["fuel_qty_burned"].kurt()]

[15.851495469109503, 651.3694501337732]

Q6

In [25]:
fuel_data.isnull().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [26]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [32]:
(max(fuel_data.isnull().sum())/fuel_data.shape[0])*100

0.609694136774718

Q8

In [49]:
corr_coeff = []
col = []

for column in fuel_data.columns:
  if column == "fuel_cost_per_unit_burned" or column == "utility_id_ferc1" or fuel_data[column].dtype == "object":
    continue
  col.append(column)
  corr_coeff.append(np.corrcoef(fuel_data[column], fuel_data["fuel_cost_per_unit_burned"])[1, 0])
corr_coeff.sort()
print(col)
print(corr_coeff)

['report_year', 'fuel_qty_burned', 'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu']
[-0.018535416794825225, -0.010033808428853071, -0.0004372104439704003, 0.01100740329916511, 0.013599134438134116]

Q9

In [63]:
fuel_data.head(5)

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [ ]:
fuel_data.groupby("report_year")["fuel_type_code_pudl"].count()

Q10

In [62]:
fuel_data.groupby("report_year")["fuel_cost_per_unit_delivered"].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64