In [52]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error

In [8]:
# url = "http://bit.ly/HDSC-Regression-Dataset"
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv"
data = pd.read_csv(url)
# data.T2

In [19]:
data.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [40]:
x_train, x_test, y_train, y_test = train_test_split(data["T2"], data["T6"], test_size=0.3, random_state=1)
# print(f"x -> {x_train.count()}\tx shape -> {x_train.shape}\ny -> {y_train.count()}\ty shape -> {y_train.shape}")
linearModel = LinearRegression()
x_train= np.array(x_train).reshape(-1, 1)
y_train= np.array(y_train).reshape(-1, 1)
y_test = np.array(y_test).reshape(-1, 1)
x_test = np.array(x_test).reshape(-1, 1)
trainedModel = linearModel.fit(x_train, y_train)
predicted_y = trainedModel.predict(x_test)
round(r2_score(y_test, predicted_y), 2)

0.65

In [37]:
round(mean_absolute_error(y_test, predicted_y), 2)

2.82

In [42]:
rss = np.sum(np.square(y_test - predicted_y))
round(rss, 2)

77236.68

In [43]:
round(np.sqrt(mean_absolute_error(y_test, predicted_y)), 2)

1.68

In [44]:
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [51]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
ridge_predict_y = ridge_reg.predict(x_test)
round(np.sqrt(mean_absolute_error(y_test, ridge_predict_y)), 2)

1.68

In [54]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
lasso_predict_y = ridge_reg.predict(x_test)
round(np.sqrt(mean_absolute_error(y_test, lasso_predict_y)), 3)

1.678